---
title: Portfolio
header: Portfolio
---
<div class="row flex-column-reverse">
	{% for portfolio in site.portfolio %}
		{% if portfolio.skip != true %}	
			<br>
			<div class="portfolioDescription">{{ portfolio.shortcontent }}</div>
			<div class="portfolioSmallDescription">Year: {{ portfolio.year }}</div>
			<div class="portfolioSmallDescription">Skills: {{ portfolio.skill }}</div>
			<div class="portfolioSmallDescription">Software: {{ portfolio.software }}</div>
			<div class="col-lg-12 col-md-12 col-xs-12 thumb">
				<div class="fancybox" rel="ligthbox">
					
				{% if portfolio.uniquepage == true %}
					<a href="portfolio/{{portfolio.shortname}}">
						<img src="../assets/images/portfolio/preview/{{ portfolio.shortname }}.jpg" class="zoom img-fluid"  alt="">
					</a>
				{% endif %}
				{% if portfolio.uniquepage != true %}
					<img src="../assets/images/portfolio/preview/{{ portfolio.shortname }}.jpg" class="zoom img-fluid"  alt="">
				{% endif %}
				</div>
			</div>
			<div class="portfolioTitle">{{ portfolio.title }}</div>
		{% endif %}
	{% endfor %}


</div>
