.current {
	color: rgb(240,240,240);
}
.duration{
	color: rgb(120,120,120);
	font-size: 87.5%;
}
.portfolioSmall{
	color: rgb(120,120,120);
	font-size: 80%;
}
.portfolioTitle{
	font-size: 150%;
	text-align: center;
}
.portfolioDescription{
	font-size: 80%;
}
h2 {
    color: rgb(210, 210, 210);    
}

h3 {
    color: rgb(200, 200, 200);      
}