.current {
	color: rgb(240,240,240);
}
.duration{
	color: rgb(120,120,120);
	font-size: 87.5%;
}
.portfolioSmall{
	color: rgb(120,120,120);
	font-size: 80%;
}
.portfolioSmallDescription{
	color: rgb(120,120,120);
	font-size: 80%;
	padding-left: 2.5%;
}
.portfolioTitle{
	font-size: 150%;
}
.portfolioDescription{
	font-size: 80%;
}
.portfolioDetails{
	font-size: 80%;
	text-align: right;
	color: rgb(120,120,120);
}
.portfolioimages{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2 {
    color: rgb(210, 210, 210);    
}

h3 {
    color: rgb(200, 200, 200);      
}